.Homepage-background{
    height: 100vh;
    background-image: url('../../Images/computerlogin.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    justify-content: center;
    @media (max-width: 768px) {
        background-image: url('../../Images/mobilelogin.jpg');
    }
    .HomePage{
        width: 100%;
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .phoenix-logo{
            margin-bottom: -40;
            width: 180px;
            position: relative;
            top: 40px;
            font-size: 2.2rem;
        }
    
    
        h2{
            
            position: relative;
            top: 25px;
            font-size: 2.2rem;
            z-index: 100;
            font-weight: normal;
            color: #ffbaba;
        }
    
        .formulary{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            background-color: rgba(143, 8, 44, 0.336);
            width: 400px;
            overflow: hidden;
            @media (max-width: 768px) {
                width: 90%;
                outline: none;
                background-color: rgba(143, 8, 44, 0.336);
            }
            background-color: rgba(83, 2, 24, 0.89);
            outline: 1px solid rgba(255, 255, 255, 0.219);
            min-height: 150px;
            padding: 0 10px;
            padding-top: 25px;
            padding-bottom: 0;
    
            border-radius: 20px;
            
    
        
    
            p{
                width: 400px;
                @media (max-width: 768px) {
                    width: 110%;
                }
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-weight: 600;
                color: #EBF0F2;
                background-color: #275D8C;
                backdrop-filter: blur(40px);
                margin-bottom: 1rem;
            }
    
    
    
            input{
                width: 90%;
                padding: 0.1rem 0;
                margin: 0.4rem 0;
                border-radius: 40px;
                background: linear-gradient(to left, rgb(105, 6, 20), hsl(356deg 83% 39%)) !important;
                color: white;
                text-indent: 20px;
                border: none;
                height: 35px;
                outline: 1px solid rgba(0, 0, 0, 0.13);
    
    
                &::placeholder{
                    color: rgba(255, 255, 255, 0.678);
                    font-size: 0.9rem;
                }
                
            }
            input::-webkit-autofill{
                background: linear-gradient(to left, rgb(104, 2, 2), red);
            }
    
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(to up, rgb(104, 2, 2), red) !important;
                height: 45px;
    
                @media (max-width: 768px) {
                    margin: 0.2rem;
                }
                border-radius: 17px;
                color: hsl(357deg 51% 73%);
                background: linear-gradient( hsl(356deg 83% 42%), hsl(351deg 86% 28%));
                font-weight: 500;
                font-size: 1.3rem;
                padding: 0 2rem;
                cursor: pointer;
                transition: 0.5s ease-in-out;
                margin: 0.5rem;
    
            }:hover{
                background-color: rgb(61, 1, 5);
                transition: 0.5s ease-in-out;
                color: white;
                
            }
            input:-webkit-autofill{
                background: linear-gradient( rgb(206, 7, 7), rgb(104, 2, 2));
            }
            input:-webkit-autofill:hover{
                background: linear-gradient( rgb(206, 7, 7), rgb(104, 2, 2));
            }
    
            small{
                color: #ffffff;
                text-transform: uppercase;
                margin-top: 0.5rem;
                height: 30px;
                font-size: 0.7rem;
                text-decoration: underline;
            }:hover{
                color: rgb(253, 151, 151);
            }
        }
    
            
        
    }
    
}
