.MenuPage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Images/mobilemenu.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    main{
        width: 100vw;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        overflow-y: scroll;


        img{
            margin-top: 1rem;
            width: 125px;
            transition: 0.5s ease-in-out;
            @media (max-width: 768px) {
                right: -125px;
                transition: 0.5s ease-in-out;
            }
            filter: drop-shadow(0 0 3px #000000);
        }
        section{
            width: 90%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0.5rem 0;

            h2{
                color: #EBF0F2;
                padding: 0.2rem 2rem;
                width: fit-content;
                font-weight: normal;
                font-size: 1.2rem;
                backdrop-filter: blur(40px);
                border-radius: 20px;
                text-align: center;
                outline: 2px solid hsl(356deg 83% 39%);
                margin-bottom: 1rem;
            }

            hr{
                width: 100%;
                border: 2px solid #EBF0F2;
                margin: 0.1rem 0;
                border-radius: 10px;
                outline: none;
            }

            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                list-style: none;
                padding: 0.3rem 0;
                width: 100%;
                border-radius: 20px;
                background-color: rgba(143, 8, 44, 0.336);
    
                li{
                    margin: 0.5rem 0;
                    background: linear-gradient(to left, rgb(105, 6, 20), hsl(356deg 83% 39%));
                    padding: 0.4rem 0.8rem;
                    text-align: center;
                    width: 80%;
                    border-radius: 20px;
                    color: #ffffffd2;
                    transition: 0.5s ease-in-out;
                    display: flex;
                    
                    a{
                        text-decoration: none;
                        width: 100%;
                        font-weight: 100;
                        color: #ffffffab;
                        align-self: flex-start;

                    }
    
                }:hover{
                    cursor: pointer;
                    transition: 0.5s ease-in-out;
                    color: #EBF0F2;
                }
    
            }
        
        }
    }::-webkit-scrollbar{
        background-color: #ffffff;
        outline: none;
        width: 8px;
    }::-webkit-scrollbar-thumb{
        background: hsl(356deg 83% 39%);
        border-radius: 10px;
    }
}